# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
platform/
plugins/
showcase/
UPLOAD/
RELEASE/
tmp/
.sass-cache/
PREVIEW/
DESIGN/
_hooks/
UI-UX_inspiration/
build/
resources/android/

www/js/app/views.js
www/js/views.js
www/js/app/tracking-config.js

.DS_Store
._DS_Store
ionic.project
package-lock.json
