<div style="margin-top: 10px"></div>
  <div class="list">
    <button class="button button-full" style="text-align: left; color: #c52031; margin-bottom: 8px;" ng-click="filterSort('MOST')"><i class="icon ion-happy-outline"></i> Good Reviews First</button>
    <button class="button button-full" style="text-align: left; color: #c52031; margin-bottom: 8px;" ng-click="filterSort('LEAST')"><i class="icon ion-sad-outline"></i> Bad Reviews First</button>
    <button class="button button-full" style="text-align: left; color: #c52031; margin-bottom: 8px;" ng-click="filterSort('COMMENTS')"><i class="icon ion-android-textsms"></i> Reviews with Comments</button>
  </div>
