<ion-view class="login-view auth-view" cache-view="false">
  <ion-content has-bouncing="false" style="background: #EB3349; /* fallback for old browsers */ background: -webkit-linear-gradient(to top, #F45C43, #EB3349); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to top, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
    <div class="row form-row" style="padding-top: 20px">
      <div class="col">
        <form name="login_form" class="form-container" style="margin: 15px" novalidate>

          <center style="margin-bottom: 30px;"><img src="./img/common/white_logo.png" width="70%" style="max-width: 320px"></center>

          <div class="landingTile" ng-click="goToPunchOrder()" style="border-radius: 8px; margin-bottom: 12px;">
            <div class="landingTileIcon">
              <img src="img/feed/punch_order.png" style="width: 50px; margin-left: 5px;">
            </div>
            <div class="landingTileName" style="text-align: left">
              Punch Order
            </div>
          </div>


          <div class="landingTile" ng-click="fetchReservations()" style="border-radius: 8px; margin-bottom: 12px;">
            <div class="landingTileIcon">
              <img src="img/feed/reserve_table.png" style="width: 55px">
            </div>
            <div class="landingTileName" style="text-align: left">
              Table Manager
            </div>
          </div>


          <div class="landingTile" ng-click="newReservation()" style="border-radius: 8px; margin-bottom: 12px;">
            <div class="landingTileIcon">
              <img src="img/feed/reserve_addnew.png" style="width: 48px">
            </div>
            <div class="landingTileName" style="text-align: left">
              New Reservation
            </div>
          </div>

          <div class="landingTile" ng-click="goToFeedback()" style="border-radius: 8px; margin-bottom: 12px;">
            <div class="landingTileIcon">
              <img src="img/feed/star_rating.png" style="width: 52px">
            </div>
            <div class="landingTileName" style="text-align: left">
              Feedbacks
            </div>
          </div>

        </form>

      <div style="padding: 0 5px; margin-top: 30px">
       <div style="display: block; width: 100%; position: relative; padding: 0; margin-top: 10px;">
       
        <button class="button button-clear" style="width: 50%; float: left; margin: 0; border-radius: 0; border-top-left-radius: 4px; border-bottom-left-radius: 4px; color: rgba(255, 255, 255, 0.5); font-size: 12px; text-align: right; padding-right: 25px;" ng-click="goToSettings()">Settings</button>

        <button ng-click="logoutNow()" class="button button-clear" style="width: 50%; position: absolute; display: inline-block; border-radius: 0; float: right; margin: 0; background: none; border-top-right-radius: 4px; border-bottom-right-radius: 4px; color: rgba(255, 255, 255, 0.5); font-size: 12px; text-align: left; padding-left: 25px;">Logout</button>

       </div> 
      </div>



      </div>
    </div>



  </ion-content>

</ion-view>
