<ion-view class="login-view auth-view" cache-view="false">
  <ion-content has-bouncing="false" style="background: #e74c3c; background-image: url(../img/common/pattern.png) !important; background-repeat: repeat;">
    <div class="row form-row" style="padding-top: 20px">
      <div class="col">
        <form name="login_form" class="form-container" style="margin: 15px" novalidate>

          <center style="margin-bottom: 30px;"><img src="./img/common/white_logo.png" width="70%"></center>

          <div class="landingTile" ng-click="goToPunchOrder()" style="border-radius: 8px; margin-bottom: 12px;">
            <div class="landingTileIcon">
              <img src="img/feed/punch_order.png" style="width: 50px; margin-left: 5px;">
            </div>
            <div class="landingTileName" style="text-align: left">
              Punch Order
            </div>
          </div>


          <div class="landingTile" ng-click="fetchReservations()" style="border-radius: 8px; margin-bottom: 12px;">
            <div class="landingTileIcon">
              <img src="img/feed/reserve_table.png" style="width: 55px">
            </div>
            <div class="landingTileName" style="text-align: left">
              Table Manager
            </div>
          </div>


          <div class="landingTile" ng-click="newReservation()" style="border-radius: 8px; margin-bottom: 12px;">
            <div class="landingTileIcon">
              <img src="img/feed/reserve_addnew.png" style="width: 48px">
            </div>
            <div class="landingTileName" style="text-align: left">
              New Reservation
            </div>
          </div>

          <div class="landingTile" ng-click="goToFeedback()" style="border-radius: 8px; margin-bottom: 12px;">
            <div class="landingTileIcon">
              <img src="img/feed/star_rating.png" style="width: 52px">
            </div>
            <div class="landingTileName" style="text-align: left">
              Feedbacks
            </div>
          </div>

        </form>


          <div class="row">
            <button class="button button-small button-clear" style="font-size: 13px; margin-top: 10px; width: 100%; color: #ff968d; height: 50px;" ng-click="logoutNow()">Logout</button>  
          </div>


      </div>
    </div>
  </ion-content>

</ion-view>
