<ion-side-menus class="feed-view" cache-view="false">

  <ion-pane ion-side-menu-content>
      

      <ion-header-bar class="feed-header">
         <button class="button button-clear cancel-button" style="width: 35px; color: #FFF" ng-click="showOptionsMenu()"><i class="icon ion-navicon"></i> </button>

         <h1 class="title" style="font-weight: 400; margin: 0; color: #FFF; text-align: left;">Settings</h1>
      </ion-header-bar>



    <ion-nav-view animation="slide-left-right">
         <ion-content class="categories-feeds-content" overflow-scroll="true" has-bouncing="false" delegate-handle="feeds-content" style="background: #FFF;">



<!-- Search Results -->
<div class="feed-view" style="padding-bottom: 40px">
      
    <p class="settingsActionTitle">Server Settings</p>
    <div style="display: block; width: 100%; padding: 10px 20px 0 20px">
      <table style="width:100%">
        <tr>
          <td style="color: #444">IP Address</td>
          <td>
            <input type="text" ng-model="defaultServer.ip_address" style="width: 100%; text-align: left; font-size: 15px; font-weight: bold; padding: 0px; color: #2196f3; order-bottom: 1px dashed #cccccc;" ng-change="saveServerAddress()">
          </td>
        </tr>
      </table>
    </div>

    <p class="settingsActionTitle">Registration Details</p>
    <div style="display: block; width: 100%; padding: 10px 20px 0 20px">

      <table style="width:100%">
        <tr>
          <td style="color: #444">Licence Key</td>
          <td>
            <input type="text" ng-model="usedLicense.deviceUID" style="width: 100%; text-align: left; font-size: 15px; font-weight: bold; padding: 0px; color: #2196f3; background: none" disabled>
          </td>
        </tr>
        <!-- Name this device so that you can refer it easily later, while configuring the printers to this device. -->
        <tr>
          <td style="color: #444">Device Name</td>
          <td>
            <div ng-if="!isLicenseMappedToLocalServer">
              <input type="text" ng-model="current_value.device_name" style="width: 180px; display: inline-block; border-bottom: 1px dashed #cccccc; text-align: left; font-size: 15px; font-weight: bold; padding: 0px; color: #2196f3; background: none" placeholder="Enter a Name">
              <button ng-if="current_value.device_name != '' && usedLicense.device_name != current_value.device_name" class="button button-small button-balanced" style="margin: 0; line-height: 0; text-transform: uppercase; font-weight: bold; position: absolute; height: 35px; width: 35px; border-radius: 50%; right: 10px; font-size: 18px;" ng-click="submitDeviceNameChange()"><i class="fa fa-check"></i></button>
            </div>
            <div ng-if="isLicenseMappedToLocalServer">
              <input type="text" ng-model="current_value.device_name" style="width: 180px; display: inline-block; text-align: left; font-size: 15px; font-weight: bold; padding: 0px; color: #2196f3; background: none" disabled>
            </div>
              
          </td>
        </tr>
        <tr>
          <td style="color: #444">Branch</td>
          <td>
            <input type="text" ng-model="usedLicense.branch_name" style="width: 100%; text-align: left; font-size: 15px; font-weight: bold; padding: 0px; color: #2196f3; background: none" disabled>
          </td>
        </tr>
        <tr>
          <td style="color: #444">Licence Expiry</td>
          <td>
            <input type="text" ng-model="usedLicense.expiry_date" style="width: 100%; text-align: left; font-size: 15px; font-weight: bold; padding: 0px; color: #2196f3; background: none" disabled>
          </td>
        </tr>
      </table>

    </div>


    <p class="settingsActionTitle">Actions</p>
    <div style="display: block; width: 100%; padding: 10px 20px 0 20px">
      
      
      <table style="width:100%">
        <tr>
          <td style="color: #444">Connect to Local Server</td>
          <td>
            <p ng-if="isLicenseMappedToLocalServer" style="margin: 5px 0; font-size: 14px; color: #444;">Already Mapped</p>
            <button ng-if="!isLicenseMappedToLocalServer" class="button button-small button-balanced" style="margin: 10px 0 0 0; padding: 1px 6px; line-height: 0; min-height: 21px !important; text-transform: uppercase; font-weight: bold;" ng-click="tryLocalServerRegistration()"><i class="fa fa-server"></i> Connect</button>
          </td>
        </tr>
        <tr>
          <!-- To update the list of various Sources (in New Reservation page) from which the reservations are received. -->
          <td style="color: #444">Update Reservation Sources</td>
          <td>
            <button class="button button-small button-balanced" style="margin: 0; padding: 1px 6px; line-height: 0; min-height: 21px !important; text-transform: uppercase; font-weight: bold;" ng-click="refreshModesList()"><i class="fa fa-refresh"></i> Update</button>
          </td>
        </tr>
        <tr>
          <!-- Resetting the device will clear all the data and the license. -->
          <td style="color: #444">Reset Device</td>
          <td>
            <button class="button button-small button-energized" style="margin: 0; padding: 1px 6px; line-height: 0; min-height: 21px !important; text-transform: uppercase; font-weight: bold; background: #f44336" ng-click="resetDevice()"><i class="fa fa-warning"></i> Reset</button>
          </td>
        </tr>
      </table>


    </div>
</div>  


         </ion-content>
    </ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" class="main-menu">
    <header class="bar bar-header bar-stable" style="height: 80px; padding: 0; background: #661a18; display: flex; flex-direction: column; justify-content: center; align-items :center ;">
      
        <img style="width: 70%" ng-src="./img/common/white_logo.png"/>
  
    </header>
    <ion-content class="has-header" style="top: 80px">
    
      <ion-list>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.landing">
               <i class="icon" style="width: 60px; color: #FFF; text-align: center"><i class="fa fa-home" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Home</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.punch">
               <i class="icon" style="width: 60px; color: #FFF; text-align: center"><i class="fa fa-hand-pointer-o" style="font-size: 80%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Punch Order</h2>
        </ion-item>  
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.reservationsapp.upcoming">
               <i class="icon" style="width: 60px; color: #FFF; text-align: center"><i class="fa fa-th" style="font-size: 80%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Table Manager</h2>
        </ion-item>        
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.walkin">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-calendar-plus-o" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">New Reservation</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.feedbacklanding">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-star-half-o" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Feedbacks</h2>
        </ion-item>
        <ion-item style="padding-top: 0; background: none; bottom: 0; width: 100%; border: none;" nav-clear>
               <p style="color: #521110; font-size: 11px; margin: 10px 0; text-align: center;">Version 1.1.0</p>
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>




