<ion-modal-view class="modal-view legal-view" style="background: #FFF">
  <ion-content>
    <div class="row copy-row">
      <div class="col">
        
        <div class="legal-content" style="padding: 10px">

<center style="padding-bottom: 60px">
                  <div ng-repeat="section in tablesMasterList track by $index">

                    <h2 class="legal-title" style="margin: 15px 0 5px 0; font-size: 14px; font-weight: 400; color: #444; text-transform: uppercase; letter-spacing: 2px;">{{section.section}}</h2>

                    <button class="button" ng-attr-id="{{'seat_'+seat.table}}" ng-repeat="seat in section.tables" ng-class="getMyClass(seat)" ng-click="seatOptions(seat);" style="line-height: initial; width: 80px; max-width: 32%; height: 40px; margin: 2px; padding: 2px;">
                    
                      
                      <tag class="seatName">{{seat.table}}</tag>
                      
                      <!-- Seater Count or Occuppied Guest Name -->
                      <tag ng-if="seat.status == 0" class="seatCapacity">{{seat.capacity}} Seater</tag>                                        
                      <tag ng-if="seat.status == 1" class="seatTime" style="color: #9c2017">Running</tag>
                      <tag ng-if="seat.status == 2" class="seatTime" style="color: #ad8713">Billed</tag>
                      <tag ng-if="seat.status == 5" class="seatTime" style="color: #ad8713">Reserved</tag>
                      
                    </button>
                  </div>
</center> 


        </div>
      </div>
    </div>
  </ion-content>

  <div style="border-radius: 0; position: absolute; bottom: 0; z-index: 1000; margin: 0; left: 0; width: 100%; border-top: 2px solid #616161;">
    <button class="button button-default close-button" style="width: 100%; float: left; margin: 0; border-radius: 0;" ng-click="table_modal.hide()">Close</button>
  </div>

</ion-modal-view>
