
<ion-modal-view class="modal-view legal-view" style="background: #FFF;">

  <ion-content>


<!-- Search Results -->
<div class="feed-view" style="padding: 0 20px">

          <h2 class="legal-title" style="margin: 25px 0 5px 0; font-size: 26px; font-weight: 300 !important; color: #009688;">Guest Details</h2>

          <span style="text-align: center; display: block; color: #444; letter-spacing: 2px; margin: 10px 0">NUMBER OF GUESTS</span>
          <div>
            <div class="row">
              <div class="col" style="text-align: center">
                <button class="guestCountButton" ng-click="guestDataTemp.count = 1; guestDataTemp.countManual = '';" ng-class="{'active' : guestDataTemp.count == 1}">1</button>
                <button class="guestCountButton" ng-click="guestDataTemp.count = 2; guestDataTemp.countManual = '';" ng-class="{'active' : guestDataTemp.count == 2}">2</button>
                <button class="guestCountButton" ng-click="guestDataTemp.count = 3; guestDataTemp.countManual = '';" ng-class="{'active' : guestDataTemp.count == 3}">3</button>
                <button class="guestCountButton" ng-click="guestDataTemp.count = 4; guestDataTemp.countManual = '';" ng-class="{'active' : guestDataTemp.count == 4}">4</button>
                <button class="guestCountButton" ng-click="guestDataTemp.count = 5; guestDataTemp.countManual = '';" ng-class="{'active' : guestDataTemp.count == 5}">5</button>
                <button class="guestCountButton" ng-click="guestDataTemp.count = 6; guestDataTemp.countManual = '';" ng-class="{'active' : guestDataTemp.count == 6}">6</button>
                <button class="guestCountButton" ng-click="guestDataTemp.count = 7; guestDataTemp.countManual = '';" ng-class="{'active' : guestDataTemp.count == 7}">7</button>
                <button class="guestCountButton" ng-click="guestDataTemp.count = 8; guestDataTemp.countManual = '';" ng-class="{'active' : guestDataTemp.count == 8}">8</button>
                <button class="guestCountButton" ng-click="guestDataTemp.count = 9; guestDataTemp.countManual = '';" ng-class="{'active' : guestDataTemp.count == 9}">9</button>
                <button class="guestCountButton" ng-click="guestDataTemp.count = 10; guestDataTemp.countManual = '';" ng-class="{'active' : guestDataTemp.count == 10}">10</button>
                <input type="number" ng-model="guestDataTemp.countManual" ng-class="{'active' : guestDataTemp.countManual && guestDataTemp.countManual >= 11}" ng-change="guestDataTemp.count = guestDataTemp.countManual" class="guestCountInput">
              </div>
            </div>
          </div>

          <span style="text-align: center; display: block; color: #444; letter-spacing: 2px; margin: 10px 0 5px 0">PERSONAL DETAILS</span>
    

          <div style="margin-top: 5px; position: relative">
            <span style="text-align: center; color: #FFF; -ms-transform: rotate(20deg); /* -webkit-transform: rotate(20deg); */ transform: rotate(270deg); display: inline-block; position: absolute; top: 22px; left: -11px; font-weight: bold; font-size: 12px;">MOBILE</span>
            <input type="number" ng-model="guestDataTemp.mobile" class="guestMobileInput" style="font-size: 24px; font-weight: bold; letter-spacing: 6px; height: 64px; padding: 0px; width: 100%; text-align: center; border: 1px solid #009688 !important; border-left: 26px solid #009688 !important; border-top-right-radius: 6px !important; border-bottom-right-radius: 4px !important; color: #009688;" placeholder="">
          </div>

          <div style="margin-top: 10px; position: relative">
            <span style="text-align: center; color: #FFF; -ms-transform: rotate(20deg); /* -webkit-transform: rotate(20deg); */ transform: rotate(270deg); display: inline-block; position: absolute; top: 22px; left: -5px; font-weight: bold; font-size: 12px;">NAME</span>
            <input type="text" ng-model="guestDataTemp.name" class="guestMobileInput" style="font-size: 24px; font-weight: bold; letter-spacing: 6px; height: 64px; padding: 0px; width: 100%; text-align: center; border: 1px solid #009688 !important; border-left: 26px solid #009688 !important; border-top-right-radius: 6px !important; border-bottom-right-radius: 4px !important; color: #009688; letter-spacing: 1px; text-transform: uppercase;" placeholder="">
          </div>


</div>  


  </ion-content>

  <ion-footer-bar class="search-header" style="padding: 0; background: #FFF; height: 45px;">
    <div style="border-radius: 0; position: absolute; bottom: 0; z-index: 1000; margin: 0; left: 0; width: 100%; border-top: 2px solid #4d606b;">
      <!-- <button class="button button-default close-button" style="width: 100%; float: left; margin: 0; border-radius: 0; height: 45px; font-size: 16px;" ng-click="search_item_modal.hide()">Close</button> -->

      <button class="button button-default close-button" style="width: 35%; float: left; margin: 0; border-radius: 0; height: 45px; font-size: 16px;" ng-click="guest_modal.hide()">Close</button>
    <button ng-click="saveGuestData()" style="width: 65%; float: right; display: inline-block; position: absolute; right: 0; border-radius: 0; top: 0; margin: 0; font-weight: bold; text-transform: uppercase; height: 45px; font-size: 16px;" class="button button-balanced button-block">Save</button>


    </div>  
  </ion-footer-bar>

</ion-modal-view>






