<ion-modal-view style="background: rgba(0, 0, 0, 0.2)" ng-click="smartOrderAlert.hide()">
  <ion-content>
    <div style="width: 100%; text-align: center; margin-top: 50%;">
      <div style="background: #FFF; display: inline-block; padding: 20px 40px; border-radius: 5px; border-bottom: 10px solid #673ab7;">
        <center><img src="../../../img/common/bell.gif" width="80px"></center>
        <h1 style="display: block; font-size: 20px; color: #e91e63; text-transform: uppercase; font-weight: bold;">New Smart Order</h1>
        <p style="background: #e91e62; font-weight: bold; color: #FFF; display: inline-block; padding: 2px 10px; border-radius: 4px;">{{passiveOrderCount}} PENDING</p>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
