.popup-actions
{
  .popup
  {
    border-radius: 6px;
    background-color: $popup-bg;
    width: 80%;
    max-width: 300px;
    position: relative;
  }

  .popup-head
  {
    padding: 0;
    border-radius: 6px 6px 0px 0px;
    border: none;

    background: #FFF;
    height: 10px;

  }

  .popup-body
  {
    padding: 0;
  }

  .popup-title
  {
    display: none;
  }

  .popup-buttons
  {
    height: 0px;
    min-height: 0px;
    padding: 0px;

    .close-popup
    {
      border-radius: 0px 6px 0px 0px;
      top: 0px;
      position: absolute;
      right: 0px;
      background-color: #ff4300;
      color: $popup-header-color;
      border: none;
      padding: 11px $popup-padding;
      min-width: 0px;
      min-height: 0px;
      margin: 0px;
      display: inline-block;
      font-weight: 500;
      font-size: 16px;

      &.activated
      {
        box-shadow: none;
      }
    }
  }
}


.tile-actions-view
{
  &.popup-container
  {
    .popup-buttons
    {
      height: initial;
      min-height: 0px;
      padding: 0px;
      margin: 0px;
      background-color: #e74c3c;
      border-radius: 0px 0px 6px 6px;

      .button
      {
        margin: 0px;
        background-color: #f5f5f5;
        color: #b1b1b1;
        border-radius: 0px;
        border: none;
        text-transform: uppercase;
        font-size: 13px;

        &:first-child
        {
          border-bottom-left-radius: 6px;
        }
        &:last-child
        {
          border-bottom-right-radius: 6px;
        }

        &.delete-button
        {
          background-color: #f5f5f5;
          @include flex(0 0 40%);
        }
      }
    }
  }
}



.popup-clear
{
  .popup
  {
    border-radius: 6px;
    background-color: $popup-bg;
    width: 80%;
    max-width: 260px;
    position: relative;
  }

  .popup-head
  {
    padding: 13px $popup-padding;
    border-radius: 6px 6px 0px 0px;
    border: none;

    background: #FFF;

  }

  .popup-body
  {
    padding: 6px;
  }

  .popup-title
  {
    color: #4e5b6a;
    text-align: left !important;
    line-height: 20px;
    font-size: 14px;
  }

  .popup-buttons
  {
    height: 0px;
    min-height: 0px;
    padding: 0px;

    .close-popup
    {
      border-radius: 0px 6px 0px 0px;
      top: 0px;
      position: absolute;
      right: 0px;
      background-color: #ff4300;
      color: $popup-header-color;
      border: none;
      padding: 11px $popup-padding;
      min-width: 0px;
      min-height: 0px;
      margin: 0px;
      display: inline-block;
      font-weight: 500;
      font-size: 16px;

      &.activated
      {
        box-shadow: none;
      }
    }
  }
}

.popup-tiles
{
  .popup
  {
    border-radius: 6px;
    background-color: $popup-bg;
    width: 80%;
    max-width: 260px;
    position: relative;
  }

  .popup-head
  {
    padding: 13px $popup-padding;
		background-color: #e74c3c;
		border-radius: 6px 6px 0px 0px;
		border: none;

		background: #ED213A;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .popup-body
  {
    padding: 6px;
  }

  .popup-title
  {
    color: $popup-header-color;
		text-align: left;
    margin-top: -1px;
		font-weight: 400;
		line-height: 19px;

		    text-align: center;
	    text-transform: uppercase;
	    font-size: 13px;
	    font-weight: bold;
	    letter-spacing: 2px;
  }

  .popup-buttons
  {
    height: 0px;
    min-height: 0px;
    padding: 0px;

    .close-popup
    {
			border-radius: 0px 6px 0px 0px;
      top: 0px;
      position: absolute;
      right: 0px;
      background-color: #ff4300;
      color: $popup-header-color;
      border: none;
      padding: 11px $popup-padding;
      min-width: 0px;
      min-height: 0px;
      margin: 0px;
      display: inline-block;
      font-weight: 500;
      font-size: 16px;

      &.activated
  		{
  			box-shadow: none;
  		}
    }
  }
}


.popup-outer
{
  .popup
  {
    border-radius: 6px;
    background-color: $popup-bg;
    width: 80%;
    max-width: 260px;
    position: relative;
  }

  .popup-head
  {
    padding: 13px $popup-padding;
		background-color: #e74c3c;
		border-radius: 6px 6px 0px 0px;
		border: none;

		@include popup-header-style($popup-header-fashion-bg, 'main-app-feed-fashion');
		@include popup-header-style($popup-header-food-bg, 'main-app-feed-food');
		@include popup-header-style($popup-header-travel-bg, 'main-app-feed-travel');
		@include popup-header-style($popup-header-deals-bg, 'main-app-feed-deals');
		@include popup-header-style($popup-header-real-state-bg, 'main-app-feed-real-state');
  }

  .popup-body
  {
    padding: 0px $popup-padding;
  }

  .popup-title
  {
    color: $popup-header-color;
		text-align: left;
    margin-top: -1px;
		font-weight: 400;
		line-height: 19px;
  }

  .popup-buttons
  {
    height: 0px;
    min-height: 0px;
    padding: 0px;

    .close-popup
    {
			border-radius: 0px 6px 0px 0px;
      top: 0px;
      position: absolute;
      right: 0px;
      background-color: $popup-header-default-bg;
      color: $popup-header-color;
      border: none;
      padding: 11px $popup-padding;
      min-width: 0px;
      min-height: 0px;
      margin: 0px;
      display: inline-block;
      font-weight: 500;
      font-size: 16px;

      &.activated
  		{
  			box-shadow: none;
  		}
    }
  }
}

.sort-view
{
	.sort-options-list
	{
		.list
		{
			padding: 0px;

			.item
			{
				border: none;
				margin: 0px;
				border-bottom: 1px solid lighten($sort-options-check-default-color, 18%);
				color: $sort-options-color;
				font-weight: 500;

				&:last-child
				{
					border: none;
				}

				&.item-radio
				{
					input
					{
						&:checked + .radio-content .item-content {
					    background: $sort-options-bg;
					  }
					}

					.radio-icon
					{
						color: $sort-options-check-default-color;
					}
				}

				@include sort-options-style($sort-options-check-fashion-color, 'main-app-feed-fashion');
				@include sort-options-style($sort-options-check-food-color, 'main-app-feed-food');
				@include sort-options-style($sort-options-check-travel-color, 'main-app-feed-travel');
				@include sort-options-style($sort-options-check-deals-color, 'main-app-feed-deals');
				@include sort-options-style($sort-options-check-real-state-color, 'main-app-feed-real-state');
			}
		}
	}
}
