$feed-bg: #FFF;
$feed-header-bg: #e74c3c;
$sliding-categories-height: 40px;
$cart-button-height: 25px;

$cart-badge-bg: #FFF;
$cart-badge-color: #252323;
$categories-default-bg: #ffab6b;
$fashion-bg: #ffab6b;
$food-bg: #ffab6b;
$travel-bg: #ffcf4e;
$deals-bg: #7FD876;
$real-state-bg: #72A2CA;

$sort-and-filters-color: #252323;
$sort-and-filters-icon-color: #e74c3c;
