<ion-view class="login-view auth-view" cache-view="false">
  <ion-content has-bouncing="false">

    <div class="row form-row" style="padding-top: 20px">
      <div class="col">
        <form name="signup_form" class="form-container" novalidate>
          <center><img src="./img/common/white_logo.png" width="70%"></center>
          <div class="input-list list list-inset">
            <h1 style="text-align: center; color: #FFF; font-weight: 200; font-size: 28px;">Give us feedback on our service and help us serve you better.</h1>
            <div style="padding-top: 50px">
              <label class="item item-input" style="margin-bottom: 0; padding-top: 40px">
                <input style="font-size: 26px; font-weight: 300" type="tel" placeholder="Mobile Number" ng-keyup="searchUser()" name="mobile" ng-model="user.mobile" maxlength="10">
              </label>	
			  <p style="color: grey; text-align: center; font-size: 14px; margin: 0; padding-top: 5px;">(optional)</p>
              <label class="item item-input" style="margin-bottom: 0; padding-top: 40px">
                <input type="text" style="font-size: 26px; font-weight: 300" placeholder="Your Name" name="name" ng-model="user.name">
              </label>
			  <p style="color: grey; text-align: center; font-size: 14px; margin: 0; padding-top: 5px;">(optional)</p>
              <label class="item item-input" style="margin-bottom: 0; padding-top: 40px">
                <input type="tel" style="font-size: 26px; font-weight: 300" placeholder="Email" name="mobile" ng-model="user.email">
              </label>			
			  <p style="color: grey; text-align: center; font-size: 14px; margin: 0; padding-top: 5px;">(optional)</p>			  
              <p style="margin-top: 10px; margin-bottom: 0px; color: rgb(78, 98, 119); text-align: center; font-size: 14px;">The personal information you enter here will neither be shared with any third party nor be used for any promotional purposes.</p>
            </div>
        </div>
          <p ng-show="error" class="message error-signup" style="color: #e74c3c">{{error}}</p>

        </form>
      </div>
    </div>
  </ion-content>
  
          <button type="submit" style="margin-top: 40px; position: fixed; bottom: 0;" class="button button-block auth-action-button-signup" ng-click="goReview()">
            Proceed
          </button>

		  
</ion-view>