  <ion-pane ng-class="getMainBackground()">
      
      <ion-header-bar class="feed-header" style="background: none !important;">
         <div class="buttons" style="position: absolute; top: 5px; left: 5px; bottom: 5px;">
            <button class="button button-clear cart-button" style="margin: 0; color: #FFF; width: 35px; height: 35px; line-height: 22px;" ui-sref="main.app.landing">
            <i class="fa fa-caret-left" style="font-size: 22px"></i> 
            </button>
         </div>
      </ion-header-bar>


         <ion-content class="login-view auth-view" overflow-scroll="true" has-bouncing="false" delegate-handle="feeds-content" style="background: none">


          <div class="form-row" style="overflow-y: scroll; height: 100%; padding-bottom: 60px;">

              <form class="form-container" novalidate>
                <center><img src="./img/common/white_logo.png" width="70%"></center>
                <div class="input-list list list-inset" style="padding-bottom: 80px;">
                  <h1 style="text-align: center; color: #FFF; font-family: 'Raleway', sans-serif; font-size: 28px;">Give us feedback on our service and help us serve you better.</h1>

                  <div style="padding-top: 50px">
                    <label class="item item-input" style="margin: 0; padding: 0;">
                      <input style="font-size: 26px; font-weight: 300; height: 45px;" type="tel" placeholder="Mobile Number" ng-keyup="searchUser()" name="mobile" ng-model="user.mobile" maxlength="10">
                    </label>  
              <p style="color: rgba(255, 255, 255, 0.5); text-align: center; font-size: 14px; margin: 0; padding-top: 2px;">(optional)</p>
                    <label class="item item-input" style="margin: 20px 0 0 0; padding: 0;">
                      <input type="text" style="font-size: 26px; font-weight: 300; height: 45px;" placeholder="Your Name" name="name" ng-model="user.name">
                    </label>
              <p style="color: rgba(255, 255, 255, 0.5); text-align: center; font-size: 14px; margin: 0; padding-top: 2px;">(optional)</p>
                    <label class="item item-input" style="margin: 20px 0 0 0; padding: 0;">
                      <input type="text" style="font-size: 26px; font-weight: 300; height: 45px;" placeholder="Email" name="mobile" ng-model="user.email">
                    </label>      
              <p style="color: rgba(255, 255, 255, 0.5); text-align: center; font-size: 14px; margin: 0; padding-top: 2px;">(optional)</p>  
              </div>
              
                <p style="color: #FFF !important; text-align: center; font-size: 12px; font-weight: 300; line-height: initial; margin: 20px 0 0 0;">Disclaimer: The personal information you enter here will <b>neither</b> be shared with any third party nor be used for any promotional purposes.</p>

              </form>
          </div>


         </ion-content>



    <ion-footer-bar style="background: none; height: 60px; padding: 0; border: 0;">
          <button type="submit" class="button button-block auth-action-button-signup" ng-click="goReview()" style="width: 100%; display: block; margin: 0; border-radius: 0; font-size: 15px; letter-spacing: 1px; background: rgba(0, 0, 0, .4);">
            Proceed
          </button>
    </ion-footer-bar>

  
  </ion-pane>







<!-- 


<ion-view class="login-view auth-view" ng-class="getMainBackground()" cache-view="false">
  <ion-content has-bouncing="false">

    <div class="row form-row" style="padding-top: 20px">

      <tag style="position: absolute; top: 0; left: 0; padding: 10px; color: rgba(255, 255, 255, 0.4); font-size: 21px; width: 40px; text-align: center;" ng-click="goBackToMain()"><i class="fa fa-caret-left"></i></tag>

      <div class="col">
        <form name="signup_form" class="form-container" novalidate>
          <center><img src="./img/common/white_logo.png" width="70%"></center>
          <div class="input-list list list-inset" style="padding-bottom: 80px;">
            <h1 style="text-align: center; color: #FFF; font-family: 'Raleway', sans-serif; font-size: 28px;">Give us feedback on our service and help us serve you better.</h1>

            <div style="padding-top: 50px">
              <label class="item item-input" style="margin: 0; padding: 0;">
                <input style="font-size: 26px; font-weight: 300; height: 45px;" type="tel" placeholder="Mobile Number" ng-keyup="searchUser()" name="mobile" ng-model="user.mobile" maxlength="10">
              </label>	
			  <p style="color: rgba(255, 255, 255, 0.5); text-align: center; font-size: 14px; margin: 0; padding-top: 2px;">(optional)</p>
              <label class="item item-input" style="margin: 20px 0 0 0; padding: 0;">
                <input type="text" style="font-size: 26px; font-weight: 300; height: 45px;" placeholder="Your Name" name="name" ng-model="user.name">
              </label>
			  <p style="color: rgba(255, 255, 255, 0.5); text-align: center; font-size: 14px; margin: 0; padding-top: 2px;">(optional)</p>
              <label class="item item-input" style="margin: 20px 0 0 0; padding: 0;">
                <input type="text" style="font-size: 26px; font-weight: 300; height: 45px;" placeholder="Email" name="mobile" ng-model="user.email">
              </label>			
			  <p style="color: rgba(255, 255, 255, 0.5); text-align: center; font-size: 14px; margin: 0; padding-top: 2px;">(optional)</p>	
        </div>
          <p ng-show="error" class="message error-signup" style="color: #e74c3c">{{error}}</p>

        </form>
      </div>
    </div>
  </ion-content>
  


	<ion-footer-bar style="background: none; height: 60px; padding: 0; border: 0;">
          <p style="color: #FFF !important; text-align: center; font-size: 12px; font-weight: 300; line-height: initial; position: absolute; top: -45px; padding: 0 20px;">Disclaimer: The personal information you enter here will <b>neither</b> be shared with any third party nor be used for any promotional purposes.</p>

          <button type="submit" class="button button-block auth-action-button-signup" ng-click="goReview()" style="width: 100%; display: block; margin: 0; border-radius: 0; font-size: 15px; letter-spacing: 1px; background: rgba(0, 0, 0, .4);">
            Proceed
          </button>

  </ion-footer-bar>

</ion-view> -->