<!-- main.app.feed.fashion -->
<ion-view class="checkout-feedback-view" cache-view="false" style="background: #FF5F6D; /* fallback for old browsers */ background: -webkit-linear-gradient(to top, #FFC371, #FF5F6D); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to top, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
  <ion-content has-bouncing="false" scroll="false" class="checkout-thanks-content">
    <div class="row thanks-row" style="margin-top: 60px">
      <div class="col">
        <h3 class="thanks-title" style="color:#FFF; font-size: 32px; font-weight: 200">How was your recent experience with us?<br>
        <span class="icon ion-android-star-outline" id="star1" ng-click="fillTill(1)"></span>
        <span class="icon ion-android-star-outline" id="star2" ng-click="fillTill(2)"></span>
        <span class="icon ion-android-star-outline" id="star3" ng-click="fillTill(3)"></span>
        <span class="icon ion-android-star-outline" id="star4" ng-click="fillTill(4)"></span>
        <span class="icon ion-android-star-outline" id="star5" ng-click="fillTill(5)"></span>
        <br><p ng-if="tag!=''" style="color: #fff; font-weight: 400;">{{tag}}</p>
        </h3>



<div class="floralContainer redPinkFlower" ng-show="selection != 'N' && selection != 'P'">
  <div class="droplet redPetal" id="no1"></div>
  <div class="droplet pinkPetal" id="no2"></div>
  <div class="droplet redPetal" id="no3"></div>
  <div class="droplet pinkPetal" id="no4"></div>
  <div class="droplet redPetal" id="no5"></div>
  <div class="droplet pinkPetal" id="no6"></div>
  <div class="droplet redPetal" id="no7"></div>
  <div class="droplet pinkPetal" id="no8"></div>
  <div class="droplet redPetal" id="no9"></div>
  <div class="droplet pinkPetal" id="no10"></div>
</div>



        <div ng-if="selection=='N'" class="card list filter-group" style="padding: 0; background: none;">
          <div class="item item-divider" style="color: #FFF; background: none; padding: 0 0 6px 0; font-weight: 300; border-color: rgba(255, 255, 255, 0.4);">
            Where can we improve?
          </div>
            <div ng-if="1">
              <ion-list class="tags-filters filter-options-container">
                <tag-checkbox ng-model="negative_feedback.delivery" title="Serving Time"></tag-checkbox>
                <tag-checkbox ng-model="negative_feedback.quality" title="Value for Money"></tag-checkbox>
                <tag-checkbox ng-model="negative_feedback.food" title="Food"></tag-checkbox>
                <tag-checkbox ng-model="negative_feedback.service" title="Service"></tag-checkbox>
                <tag-checkbox ng-model="negative_feedback.app" title="Hygiene"></tag-checkbox>
                <tag-checkbox ng-model="negative_feedback.other" title="Other"></tag-checkbox>
              </ion-list>
            </div>
        </div>

        <div ng-if="selection=='P'" class="card list filter-group" style="padding: 0; background: none;">
          <div class="item item-divider" style="color: #FFF; background: none; padding: 0 0 6px 0; font-weight: 300; border-color: rgba(255, 255, 255, 0.4);">
            What made it more awesome?
          </div>
            <div ng-if="1">
              <ion-list class="tags-filters filter-options-container">
                <tag-checkbox ng-model="positive_feedback.delivery" title="Served on Time"></tag-checkbox>
                <tag-checkbox ng-model="positive_feedback.quality" title="Value for Money"></tag-checkbox>
                <tag-checkbox ng-model="positive_feedback.food" title="Awesome Food"></tag-checkbox>
                <tag-checkbox ng-model="positive_feedback.service" title="Excellent Service"></tag-checkbox>
                <tag-checkbox ng-model="positive_feedback.app" title="Cleanliness"></tag-checkbox>
                <tag-checkbox ng-model="positive_feedback.other" title="Other"></tag-checkbox>
              </ion-list>
            </div>
        </div>

        <div style="padding: 30px" ng-show="selection=='N' || selection=='P'">
          <label for="commentsBox" style="float: middle; color: #FFF; font-size: 14px;">Comments</label>
          <textarea class="feedbackComments" style="color: #FFF; background: none; resize: none; line-height: 21px; text-align: center; border: 1px #FFF solid;" rows="2" id="commentsBox" placeholder="We are listening. Do you want to tell us anything in particular? Please write it here." ng-model="commentsFeed"></textarea>
          <p id="characterCount" style="float: right; padding: 5px 0px; color: rgba(29, 29, 29, .4); font-size: 80%"></p>
        </div>

        <div class="ok-button-outer" ng-if="isStarFilled">
          <a class="button button-block auth-action-button-signup" ng-click="submitFeedback(commentsFeed)">
            Submit
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>