<ion-side-menus class="feed-view" cache-view="false">

  <ion-pane ion-side-menu-content>
      

      <ion-header-bar class="feed-header">
         <button class="button button-clear cancel-button" style="width: 35px; color: #FFF" ng-click="showOptionsMenu()"><i class="icon ion-navicon"></i> </button>

         <h1 class="title" style="font-weight: 400; margin: 0; color: #FFF; text-align: left;">Settings</h1>
      </ion-header-bar>



    <ion-nav-view animation="slide-left-right">
         <ion-content class="categories-feeds-content" overflow-scroll="true" has-bouncing="false" delegate-handle="feeds-content" style="background: #FFF;" ng-class='{hasBanner : isFilterEnabled}'>

         <!-- Refresher -->
        <ion-refresher
          on-refresh="doRefresh()">
        </ion-refresher>


          <bannerbutton class="bannerButtonHolder" ng-if="filterPendingApply">
            <span class="bannerButtonCross" ng-click="applyFilterCancel()"><i class="icon ion-close"></i></span>
            <span class="bannerButtonCheck" ng-click="applyFilterConfirm()"><i class="icon ion-checkmark"></i></span>
          </bannerbutton>



<!-- Search Results -->
<div class="feed-view">
      
    <div style="display: block; width: 100%; padding: 20px">
      <input type="text" ng-model="defaultServer.ip_address" style="width: 100%; text-align: center; height: 60px; border: 1px solid; font-size: 20px; font-weight: bold;">
      <button class="button" ng-click="saveServerAddress()" style="margin-top: 20px; width: 100%">Save</button>
    </div>

</div>  


         </ion-content>
    </ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" class="main-menu">
    <header class="bar bar-header bar-stable" style="height: 80px; padding: 0; background: #661a18; display: flex; flex-direction: column; justify-content: center; align-items :center ;">
      
        <img style="width: 70%" ng-src="./img/common/white_logo.png"/>
  
    </header>
    <ion-content class="has-header" style="top: 80px">
    
      <ion-list>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.landing">
               <i class="icon" style="width: 60px; color: #FFF; text-align: center"><i class="fa fa-home" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Home</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.reservationsapp.upcoming">
               <i class="icon" style="width: 60px; color: #FFF; text-align: center"><i class="fa fa-th" style="font-size: 80%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Table Manager</h2>
        </ion-item>        
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.walkin">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-calendar-plus-o" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">New Reservation</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.feedbacks">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-star-half-o" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Feedbacks</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.settings">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-gear" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Settings</h2>
        </ion-item>
        <ion-item style="padding-top: 0; background: none; bottom: 0; width: 100%; border: none;" nav-clear>
               <p style="color: #521110; font-size: 11px; margin: 10px 0; text-align: center;">Version 0.0.9</p>
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>




