<ion-side-menus class="feed-view" cache-view="false">

  <ion-pane ion-side-menu-content>
      <ion-header-bar class="feed-header" ng-show="!isRenderingItems">
         <div class="buttons" style="position: absolute; top: 5px; left: 5px; bottom: 5px;">

            <button class="button button-clear cart-button" style="margin: 0; color: #FFF; width: 35px;" ng-click="showOptionsMenu()">
            <i class="icon ion-navicon"></i> 
            </button>


            <button class="button button-clear" style="text-align: left; margin-left: 5px; font-weight: 400; color: #FFF; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size: 18px;" ng-click="openSeatPlanView()">
              <tag class="reservationAddButton" style="float: right; background: rgb(255, 255, 255); width: 120px; border-radius: 4px; color: #e84a37; font-style: italic;" ng-if="selectedTable == ''">
                <i class="fa fa-th"></i> Select
              </tag>
              <tag class="reservationAddButton" style="float: right; background: #55bf5a; width: 120px; border-radius: 4px; font-weight: bold;" ng-if="selectedTable != ''">
                Table #{{selectedTable}}
              </tag>
            </button>  

            <!-- Captains details -->
            <div style="position: relative; top: 3px; left: 6px; display: block; width: 180px;">
              <tag style="color: #FFF; font-size: 17px; font-weight: 300; position: absolute;">{{currentTimeDisplay}}</tag>
              <tag style="color: #FFF; font-size: 10px; font-weight: bold; position: absolute; top: 12px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%; display: block; text-transform: uppercase" ng-if="isProfileSelected" ng-click="chooseUserProfile()">{{selectedUserProfile}}</tag>
              <tag style="color: #FFC107; font-size: 12px; font-weight: bold; position: absolute; top: 12px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%; display: block; font-style: italic" ng-if="!isProfileSelected" ng-click="chooseUserProfile()">Select User</tag>
            </div>
            


            <!-- filter by date -->
            <button class="button button-clear clearSearchFilterButton" style="position: absolute; top: 0px; right: 0px;" ng-click="startSearching()">
              <i class="icon ion-android-search"></i> 
            </button>  

         </div>
      </ion-header-bar>

      <ion-header-bar class="feed-header" ng-show="isRenderingItems" style="background: #65c1f0 !important; border-bottom: 2px solid #52a0c8 !important;">

        <button class="button button-clear cancel-button" style="width: 35px;" ng-click="goToMainSelection()"><img src="img/common/back.png" width="20px" style="position: absolute; right: 5px; top: 5px; left: 5px;"></button>
        

        <h1 class="title" style="font-weight: bold; margin: 0; color: #FFF; text-align: left;">{{renderingSubMenu}}</h1>

      </ion-header-bar>



    <ion-nav-view animation="slide-left-right">
         <ion-content class="categories-feeds-content" overflow-scroll="true" has-bouncing="false" delegate-handle="feeds-content" style="background: #FFF;" ng-class='{hasBanner : isFilterEnabled}'>

         <!-- Refresher -->
        <ion-refresher
          on-refresh="doMenuRefresh()">
        </ion-refresher>

<!-- Showing Items -->
<div class="feed-view" ng-if="isRenderingItems">
      <div class="posMyItem" ng-class="{'unavail': !item.isAvailable}" ng-repeat="item in allItemsList track by $index" ng-click="openItemDetails(item)">
        <div class="row">
          <div class="col vegFlagPOS">
            <span class="icon ion-android-radio-button-on nveg"></span>
          </div>
          <div class="col col-75">
            <span class="menuPOSItemText">{{item.name}}</span>
          </div>
          <div class="col">
            <span class="menuPOSItemPrice"><i class="fa fa-inr" style="font-size: 80%"></i><b>{{item.price}}</b></span>
          </div>
        </div>
      </div>
</div>  


<!-- Select Main Category -->
<div ng-if="!isRenderingItems && (isRenderLoaded && !renderFailed)" style="padding-top: 45px;">
  
    <div class="posHolderMain">
      <div class="row info-row">
        <div class="col col-50">
          <span class="mainTypeButton" ng-class="{'active' : shortlistMainMenu == 'ARABIAN'}" ng-click="openCorresponsingMainMenu('ARABIAN')">
            <span class="mainTypeText">Arabian</span>
            <img src="img/common/category_arabian.png" style="float: right; height: 42px; margin-right: 5px;">
          </span>
        </div>
        <div class="col col-50">
          <span class="mainTypeButton" ng-class="{'active' : shortlistMainMenu == 'CHINESE'}" ng-click="openCorresponsingMainMenu('CHINESE')">
            <span class="mainTypeText">Chinese</span>
            <img src="img/common/category_chinese.png" style="float: right; height: 42px; margin-right: 5px;">
          </span>
        </div>
      </div>
      <div class="row info-row">
        <div class="col col-50">
          <span class="mainTypeButton" ng-class="{'active' : shortlistMainMenu == 'INDIAN'}" ng-click="openCorresponsingMainMenu('INDIAN')">
            <span class="mainTypeText">Indian</span>
            <img src="img/common/category_indian.png" style="float: right; height: 42px; margin-right: 5px;">
          </span>
        </div>
        <div class="col col-50">
          <span class="mainTypeButton" ng-class="{'active' : shortlistMainMenu == 'DESSERTS'}" ng-click="openCorresponsingMainMenu('DESSERTS')">
            <span class="mainTypeText">Desserts</span>
            <img src="img/common/category_desserts.png" style="float: right; height: 42px; margin-right: 5px;">
          </span>
        </div>
      </div>
    </div>


    <div class="posHolderSub">
      <div class="row info-row" ng-repeat="rows in subMenuList track by $index">
        <div class="col col-50" ng-repeat="subCat in rows track by $index">
          <span class="posSubButton" ng-click="openSubMenu(subCat)">
            <span class="posSubText">{{subCat}}</span>
          </span>
        </div>
      </div>
    </div>

</div>


<!-- Loader Dummy Tiles -->
<div ng-if="!isRenderLoaded && !renderFailed">
    <div class="row" style="padding: 10px 10px 0 10px"> <div class="infoTile" style="width: 50%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 25px"></div> </div> </div>
    <div class="infoTile" style="width: 50%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 25px; display: inline-block;"> <div class="loaderDummyTile" style="height: 25px"></div> </div> </div> </div>
    <div class="row" style="padding: 10px 10px 0 10px; margin-bottom: 20px;"> <div class="infoTile" style="width: 50%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 25px; display: inline-block;"> <div class="loaderDummyTile" style="height: 25px"></div> </div> </div>
    <div class="infoTile" style="width: 50%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 25px; display: inline-block;"> <div class="loaderDummyTile" style="height: 25px"></div> </div> </div> </div>

    <div class="row" style="padding: 0 10px 0 10px"> <div class="infoTile" style="width: 100% !important; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 30px;"> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>
    <div class="row" style="padding: 0 10px 0 10px"> <div class="infoTile" style="width: 100% !important; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 30px;"> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>
    <div class="row" style="padding: 0 10px 0 10px"> <div class="infoTile" style="width: 100% !important; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 30px;"> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>
    <div class="row" style="padding: 0 10px 0 10px"> <div class="infoTile" style="width: 100% !important; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 30px;"> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>
    <div class="row" style="padding: 0 10px 0 10px"> <div class="infoTile" style="width: 100% !important; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 30px;"> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>
    <div class="row" style="padding: 0 10px 0 10px"> <div class="infoTile" style="width: 100% !important; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 30px;"> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>

</div>

<div ng-if="renderFailed" style="padding: 40px 20px 20px 20px;">
  <center>
    <img src="img/common/error_icon.png">
    <p style="color: #e88f8f; margin: 10px; font-size: 15px;">Unable to fetch data. Try again.</p>
  </center>
</div>


          <div style="padding-bottom: 70px"></div>


         </ion-content>


         <div class="reservationBottomFilterHolder" ng-show="selectedTable != ''">

            <tag class="customItemAddButton" style="float: left; background: #a9adad" ng-click="notAvailable('Custom Item feature is not available in this version')"><i class="ion-plus"></i></tag>

            <tag class="customItemAddButton" style="float: left; background: #a9adad; margin-left: 10px;" ng-click="notAvailable('Filter feature is not available in this Version')"><i class="fa fa-filter"></i></tag>

            <tag class="guestAddButton" ng-class="{'active' : isGuestDataEntered()}" style="float: left; margin-left: 10px;" ng-click="openGuestDetails()">
                <i class="fa fa-user-o"></i>
                <span ng-if="isGuestDataEntered()" class="guestCountTag">{{guestData.count}}</span>
            </tag>


            <tag class="liveCartLabel" ng-class="{'active' : getProductsInCart() > 0}" ng-click="openCartWindow()" style="float: right; width: 110px; height: 45px !important; display: inline-block; font-size: 38px !important; padding: 0;">
                <tag style="text-transform: uppercase; font-size: 18px; font-weight: bold; margin-left: 9px;">Cart<b id="cart-image-icon" ng-if="getProductsInCart() > 0" class="cartCounter">{{getProductsInCart()}}</b></tag>
            </tag>

         </div>


    </ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" class="main-menu">
    <header class="bar bar-header bar-stable" style="height: 80px; padding: 0; background: #661a18; display: flex; flex-direction: column; justify-content: center; align-items :center ;">
      
        <img style="width: 70%" ng-src="./img/common/white_logo.png"/>
  
    </header>
    <ion-content class="has-header" style="top: 80px">
    
      <ion-list>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.landing">
               <i class="icon" style="width: 60px; color: #FFF; text-align: center"><i class="fa fa-home" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Home</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.reservationsapp.upcoming">
               <i class="icon" style="width: 60px; color: #FFF; text-align: center"><i class="fa fa-th" style="font-size: 80%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Table Manager</h2>
        </ion-item>        
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.walkin">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-calendar-plus-o" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">New Reservation</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.feedbacks">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-star-half-o" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Feedbacks</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.settings">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-gear" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Settings</h2>
        </ion-item>
        <ion-item style="padding-top: 0; background: none; bottom: 0; width: 100%; border: none;" nav-clear>
               <p style="color: #521110; font-size: 11px; margin: 10px 0; text-align: center;">Version 0.0.9</p>
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>




