<ion-view class="account-profile-view account-sub-view" cache-view="false">
  <ion-content>

  <div ng-show="!isRenderTableLoaded && !renderTableFailed">

    <div class="user-data-row">
      <div class="row" style="border: none">
        <div class="col">
          <div class="infoTile" style="width: 100%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 50px; display: inline-block;"> <div class="loaderDummyTile" style="height: 50px"></div> </div> </div>
        </div>
        <div class="col">
          <div class="infoTile" style="width: 100%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 50px; display: inline-block;"> <div class="loaderDummyTile" style="height: 50px"></div> </div> </div>
        </div>
        <div class="col">
          <div class="infoTile" style="width: 100%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 50px; display: inline-block;"> <div class="loaderDummyTile" style="height: 50px"></div> </div> </div>
        </div>
        <div class="col">
          <div class="infoTile" style="width: 100%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 50px; display: inline-block;"> <div class="loaderDummyTile" style="height: 50px"></div> </div> </div>
        </div>
      </div>

      <div class="row" style="border: none; margin-top: 5px">
        <div class="col">
          <div class="infoTile" style="width: 100%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 50px; display: inline-block;"> <div class="loaderDummyTile" style="height: 50px"></div> </div> </div>
        </div>
        <div class="col">
          <div class="infoTile" style="width: 100%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 50px; display: inline-block;"> <div class="loaderDummyTile" style="height: 50px"></div> </div> </div>
        </div>
        <div class="col">
          <div class="infoTile" style="width: 100%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 50px; display: inline-block;"> <div class="loaderDummyTile" style="height: 50px"></div> </div> </div>
        </div>
        <div class="col">
          <div class="infoTile" style="width: 100%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 50px; display: inline-block;"> <div class="loaderDummyTile" style="height: 50px"></div> </div> </div>
        </div>
      </div>

      <div class="row" style="border: none; margin-top: 5px">
        <div class="col">
          <div class="infoTile" style="width: 100%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 50px; display: inline-block;"> <div class="loaderDummyTile" style="height: 50px"></div> </div> </div>
        </div>
        <div class="col">
          <div class="infoTile" style="width: 100%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 50px; display: inline-block;"> <div class="loaderDummyTile" style="height: 50px"></div> </div> </div>
        </div>
        <div class="col">
          <div class="infoTile" style="width: 100%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 50px; display: inline-block;"> <div class="loaderDummyTile" style="height: 50px"></div> </div> </div>
        </div>
        <div class="col">
          <div class="infoTile" style="width: 100%; box-shadow: none; border: none; border-radius: 5px; padding: 5px !important; height: 50px;"> <div class="infoTileHead" style="width: 100%; height: 50px; display: inline-block;"> <div class="loaderDummyTile" style="height: 50px"></div> </div> </div>
        </div>
      </div>

   </div>

</div>


<div ng-if="renderTableFailed" style="padding: 40px 20px 20px 20px;">
  <center>
    <img src="img/common/error_icon.png">
    <p style="color: #e88f8f; margin: 10px; font-size: 15px;">Unable to fetch data. Try again.</p>
  </center>
</div>



<div ng-show="isRenderTableLoaded && !renderTableFailed">
    <center style="padding-bottom: 60px">
                  <div ng-repeat="section in tablesMasterList track by $index">

                    <h2 class="legal-title" style="margin: 15px 0 5px 0; font-size: 14px; font-weight: 400; color: #444; text-transform: uppercase; letter-spacing: 2px;" ng-if="section.tables.length > 0">{{section.section}}</h2>

                    <button class="button" ng-attr-id="{{'seat_'+seat.table}}" ng-repeat="seat in section.tables" ng-class="getMyClass(seat)" ng-click="seatOptions(seat);" style="line-height: initial; width: 80px; max-width: 32%; height: 40px; margin: 2px; padding: 2px;">
                    
                      
                      <tag class="seatName">{{seat.table}}</tag>
                      
                      <!-- Seater Count or Occuppied Guest Name -->
                      <tag ng-if="seat.status == 0" class="seatCapacity">{{seat.capacity}} Seater</tag>                                        
                      <tag ng-if="seat.status == 1" class="seatTime" style="color: #9c2017">Running</tag>
                      <tag ng-if="seat.status == 2" class="seatTime" style="color: #ad8713">Billed</tag>
                      <tag ng-if="seat.status == 5" class="seatTime" style="color: #fff">Reserved</tag>
                      
                    </button>
                  </div>
    </center> 
</div>

  </ion-content>
</ion-view>
