// Images - Preload images
$pre-img-bg: rgba(darken(#FFF, 10), .25);

// Images - Preload images - Spinner on load
$spinner-size: 50px;
$spinner-svg-size: 28px;
$spinner-color: #4D301C;

// Images - Multimedia background
$multi-bg: #4D301C;
$overlay-bg: #4D301C;

$loading-color: #FFF;
$loading-background-color: #4D301C;

$pre-img-ratios: ();

// Tabbed Navigation
$navigation-tabs-active-bg: #dde0e0;
$navigation-tabs-bg: #ecf0f1;
$navigation-tabs-border: transparent;
$navigation-tabs-text: #ecf0f1;

// Progress-bar
$progress-bar-bg: rgba(darken(#FFF, 10), .25);
$progress-bar-value-bg: darken($progress-bar-bg, 20%);
