.checkout-thanks-view
{
	background-color: #FFF;








//For Timeline


.timeline{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.li{
  transition: all 200ms ease-in;
  width: 24%;
}

.timestamp{
  margin-bottom: 15px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  font-size: 12px;

  }
.status{
  padding: 0px 8px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
  > h4{
  	margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #D6DCE0;
      &:before{
        content: '';
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 25px;
        border: 1px solid #ddd;
        position: absolute;
        top: -15px;
        left: 40%;
        transition: all 200ms ease-in;
      }
    }
  }
.li.complete{
  .status{
    border-top: 2px solid #66DC71;
    &:before{
      background-color: #66DC71;
      border: none;
      transition: all 200ms ease-in ;
    }
    h4{
      color: #66DC71;
      font-size: 14px;

      &:before{
        content: '';
        width: 25px;
        height: 25px;
        background-color: #66DC71;
        border: 1px solid #66DC71;
        border-radius: 25px;
        position: absolute;
        top: -15px;
        left: 40%;
        transition: all 200ms ease-in;
      }
    }
  }
}


















	.checkout-thanks-header
	{
		background-color: #2c3e50 !important;
		background: #2c3e50 !important;
		border: none !important;
		background-size: 0px !important; // To remove bottom border on header

		.title
		{
			color: $checkout-thanks-header-color;
			font-weight: 300;
		}
	}

	.checkout-thanks-content
	{
		padding: 0px;
		margin: 0px;

		& > .scroll
		{
			height: 100%;
		}
	}

	.thanks-row
	{
		height: 100%;
		text-align: center;

		&.row
		{
			padding: 0px;

			.col
			{
				padding: 0px;
			}
		}

		.thanks-title
		{
			font-weight: 300;
			color: $checkout-thanks-title-color;
			margin: 20px 0px 50px 0px;
			padding: 0px 13%;
			padding-top: 10px;
		}


		.time-title
		{
			font-size: 11px;
			font-weight: 250;
			text-transform: uppercase;
			color: #e74c3c;
			margin-bottom: 5px;
			padding: 20px 10px 5px 20px;
			text-align: center;
		}

		.past-title
		{
			font-size: 11px;
			font-weight: 300;
			color: #3d7334;
			margin: 0px;
			padding: 2px 5px 2px 20px;
			text-align: left;
		}





		.illustration-container
		{
			margin: 0px 19%;
			margin-bottom: 70px;

			.pre-img
			{
				background-color: rgba($checkout-thanks-bg, 0);
			}

			.illustration-image
		    {
		      width: 100%;
		    }
		}
	}

	.ok-button-outer
	{
		padding: 0 19%;

		.ok-button
		{
			margin: 0px;
			margin-top: 15px;
			height: $checkout-thanks-button-height;
			text-transform: uppercase;
			line-height: $checkout-thanks-button-height - 5px;
			font-size: 22px;
			border-radius: $checkout-thanks-button-height/2;

			@include button-style($checkout-thanks-button-bg, $checkout-thanks-button-border, $checkout-thanks-button-active-bg, $checkout-thanks-button-active-border, $checkout-thanks-button-text);
		}
	}
}


.checkout-feedback-view
{
	background-color: #FFF;


//For TAGS
				.filter-group
				{
					border-radius: 6px;
					margin: 0px 0px 15px 0px;
					box-shadow: none;
					// padding: 15px 15px 5px;
					padding: 15px 0px 5px;
					background-color: $filter-group-bg;
					color: $filter-group-color;

					// Reset child border radius
					// *{
					// 	border-radius: 0px;
					// }

					&:last-child
					{
						// margin-bottom: 0px;
					}

					.item-divider
					{
						padding: 0px 2px 12px;
						background-color: $filter-group-bg;
						border: none;
					  font-weight: 300;
					  font-size: 21px;
						color: $filter-group-color;
						border-bottom: 1px solid $filter-group-border;
						// margin: 0px;
						margin: 0px 15px;
						line-height: initial;
  					min-height: 0px;
					}

					.filter-options-container
					{
						margin: 0px 15px;
					}

					.category-filters
					{
						display: block;

						.list
						{
							.item
							{
								background-color: $filter-group-bg;
								border-color: $filter-group-border;
								color: #D7D7D7;
								font-weight: 300;

								.item-content
								{
									padding-left: 5px;
								}

								.radio-icon
								{
									color: #e74c3c;
									top: -4px;
								}
							}
						}

						.item-radio input {
						  &:checked + .radio-content .item-content {
						    /* style the item content when its checked */
						    background: $filter-group-bg;
						  }
						}

						.category-icon
						{
							position: absolute;
  						width: 35px;
							top: 9px;
  						left: 0px;
						}
					}

					.tags-filters
					{
						display: inline-block;
						padding-top: 15px;

						.item-checkbox
						{
							// float: left;
							padding: 0px;
							border: none;
							margin: 0px;
							@include display(inline-flex);
							margin: 0px 8px 10px 0px;

							.checkbox
							{
								position: relative;
								top: 0px;
								bottom: 0px;
								left: 0px;
								right: 0px;
								padding: 0px;
	  						margin: 0px;

								.checkbox-title
								{
									padding: 0px 10px;
									height: $tag-filter-item-height;
									margin: 0px;
									border-radius: 15px;
									border: 1px solid $filter-group-color;
									background-color: $filter-group-bg;
									color: $filter-group-color;
								  font-weight: 400;
									font-size: 16px;
  								line-height: $tag-filter-item-height - 2px;
								}

							  & input:checked + .checkbox-title {
							    color: $tag-filter-active-color;
									background: #e74c3c;
									border-color: #e74c3c;
							  }
							}
						}
					}

					.tags-filters-spl
					{
						display: inline-block;
						padding-top: 15px;

						.item-checkbox
						{
							float: left;
							padding: 0px;
							border: none;
							margin: 0px;
							@include display(inline-flex);
							margin: 0px 8px 10px 0px;

							.checkbox
							{
								position: relative;
								top: 0px;
								bottom: 0px;
								left: 0px;
								right: 0px;
								padding: 0px;
	  						margin: 0px;

								.checkbox-title
								{
									padding: 0px 10px;
									height: $tag-filter-item-height;
									margin: 0px;
									border-radius: 15px;
									border: 1px solid #DADADA;
									background-color: $filter-group-bg;
									color: #DADADA;
								  font-weight: 400;
									font-size: 16px;
  								line-height: $tag-filter-item-height - 2px;
								}

							  & input:checked + .checkbox-title {
							    color: #DADADA;
							  }
							}
						}
					}

					.color-filters
					{
						display: block;
						padding-top: 15px;
						padding-bottom: 10px;

						.list
						{
							@include display(flex);
							@include flex-wrap(wrap);
							width: 100%;
						}

						.item-radio
						{
						  display: block;
						  padding: 0px 5px 10px 5px;
							@include flex-basis(14.2%);
							border: none;

							.item-content
							{
								padding: 0px;
								border-radius: 50%;
								border-width: 2px;
								border-style: solid;
								@include calc(padding-bottom, "100% - #{4px}");
								position: relative;
							}

							input:checked + .radio-content .item-content
							{
								border-color: $color-filter-active-border !important;
							}
						}
					}

					.size-filters,
					.budget-filters
					{
						display: block;
						padding-top: 15px;
						padding-bottom: 20px;

						.list
						{
							@include display(flex);
							width: 100%;
						}

						.item-radio
						{
						  @include flex(1);
						  display: block;
						  padding: 0px 8px 0px 0px;
						  width: 100%;
							border: none;

							&:last-child
							{
								padding: 0px;
							}

							.item-content
							{
								padding: 0px;
								background-color: $size-filter-bg;
								color: $size-filter-color;
								border-radius: 6px;
								border: 1px solid $size-filter-border;
								font-weight: 300;
								font-size: 10px;
								@include calc(padding-bottom, "100% - #{2px}");
								position: relative;

								.radio-tag-content
								{
									position: absolute;
									left: 0px;
									right: 0px;
									text-align: center;
									height: $size-filter-item-height;
									line-height: $size-filter-item-height;
									@include calc(top, "50% - #{$size-filter-item-height/2}");
								}
							}

							input:checked + .radio-content .item-content
							{
								background-color: #e74c3c;
								color: $size-filter-active-color;
								border-color: #e74c3c;
							}
						}
					}

					.ingredients-filters
					{
						.list
						{
							.item-checkbox
							{
								padding-left: 40px;

								.checkbox
								{
									top: 0px;
									right: 0px;
									left: 0px;
									padding: 16px 5px;
									margin: 0px;

									.checkbox-icon
									{
										width: 22px;
  									height: 22px;

										&::before
										{
											border-radius: 6px;
											border: none;
											background-color: $filter-group-alt-option-bg;
										}

										&::after
										{
											border-width: 3px;
											top: 28%;
  										left: 22%;
											width: 12px;
  										height: 8px;
										}
									}
								}
							}
						}
					}

					.show-filters
					{
						.list
						{
							.item-radio
							{
								padding: 16px;
								padding-left: 0px;

								.item-content
								{
									background-color: $filter-group-alt-bg;
									color: $filter-group-color;
									border-color: $filter-group-alt-border;
									padding: 0px;
									padding-left: 40px;
								}

								.radio-content
								{
									.radio-icon
									{
										left: 0px;
										right: auto;
										border-radius: 50%;
										border: 5px solid $filter-group-alt-option-bg;
										background-color: $filter-group-alt-option-bg;
										width: 22px;
  									height: 22px;
										padding: 0px;
										visibility: visible;
									  margin: 16px 5px;

										&::before
										{
											content: '';
										}
									}
								}

								input:checked + .radio-content
								{
									.radio-icon
									{
										background-color: #FFF;
									}
								}
							}
						}
					}

					.price-filters
					{
						.range
						{
							padding: 10px 15px 0px;
						}

						.range-output-container
						{
							padding: 0px 15px;
							display: inline-block;
  						width: 100%;

							.range-output
							{
								font-size: 12px;
								font-weight: 500;

								&:first-child
								{
									float: left;
								}
								&:last-child
								{
									float: right;
								}
							}
						}

						// Range Slider
						.range-slider
						{
						  overflow: hidden;
						  position: relative;
						  width: 100%;
						  height: $range-slider-height;
						  padding: 0px;

						  input
						  {
						    pointer-events: none;
						    position: absolute;
						    overflow: hidden;
						    left: 0;
						    top: 0;
						    width: 100%;
								height: $range-slider-height;
						    outline: none;
						    margin: 0px;
						    padding: 0px;
						    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $slider-filter-line-bg), color-stop(100%, $slider-filter-line-bg));
						    background: linear-gradient(to right, $slider-filter-line-bg 0%, $slider-filter-line-bg 100%);
						    background-position: center;
						    background-size: 99% $range-track-height;
						    background-repeat: no-repeat;
						    -webkit-appearance: none;

						    &::-webkit-slider-thumb
						    {
						      width: $slider-filter-thumb-size/2;
						      height: $slider-filter-thumb-size;
						      border-radius: $slider-filter-thumb-size/2;
						      background-color: $slider-filter-thumb-bg;
						      box-shadow: none;
						      pointer-events: all;
						      position: relative;
						      z-index: 1;
						      outline: 0;
						    }

						    &::-webkit-slider-thumb:before
						    {
						      /* what creates the colorful line on the left side of the slider */
						      top: ($slider-filter-thumb-size / 2) - ($range-track-height / 2);
						      left: -2000px;
						      width: 2000px;
						      background: $slider-filter-line-active-bg;
						      content: ' ';
						    }

						    &:first-of-type
						    {
						      &::-webkit-slider-thumb
						      {
						        z-index: 3;

						        &::before
						        {
						          /* what creates the colorful line on the left side of the slider */
						          top: ($slider-filter-thumb-size / 2) - ($range-track-height / 2);
						          left: -2000px;
						          width: 2000px;
						          background: $slider-filter-line-bg;
						          content: ' ';
						        }
						      }
						    }

						    // Mozilla
						    &::-moz-range-thumb
						    {
						      pointer-events: all;
						      position: relative;
						      z-index: 10;
						      -moz-appearance: none;
						      background: linear-gradient(to bottom, $slider-filter-line-bg 0%, $slider-filter-line-bg 100%);
						      width: 11px;
						    }

						    &::-moz-range-track
						    {
						      position: relative;
						      z-index: -1;
						      background-color: $slider-filter-line-bg;
						      border: 0;
						    }

						    &:last-of-type::-moz-range-track
						    {
						      -moz-appearance: none;
						      background: none transparent;
						      border: 0;
						    }
						  }
						}
					}

					.budget-filters
					{
						.item-radio
						{
							.item-content
							{
								padding: 5px 0px;
								position: initial;
								font-size: 14px;

								.radio-tag-content
								{
									position: initial;
									text-align: center;
									height: initial;
								  line-height: initial;
								  top: initial;
								  bottom: initial;
								  left: initial;
								  right: initial;
								  display: block;
								}
							}
						}
					}

					.distance-filters
					{
						.range-output
						{
							font-size: 12px;
							font-weight: 500;
							float: right;
						}

						.range
						{
							padding: 0px 15px;

							input
							{
								margin: 0px;
								padding: 0px;
								background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $slider-filter-line-bg), color-stop(100%, $slider-filter-line-bg));
							  background: linear-gradient(to right, $slider-filter-line-bg 0%, $slider-filter-line-bg 100%);
							  background-position: center;
							  background-size: 99% $range-track-height;
							  background-repeat: no-repeat;
							  -webkit-appearance: none;

							  &::-webkit-slider-thumb
								{
							    width: $slider-filter-thumb-size;
							    height: $slider-filter-thumb-size;
							    background-color: $slider-filter-thumb-bg;
									box-shadow: none;
							  }

								&::-webkit-slider-thumb:before
								{
							    /* what creates the colorful line on the left side of the slider */
							    top: ($slider-filter-thumb-size / 2) - ($range-track-height / 2);
							    left: -2000px;
							    width: 2000px;
							    background: $slider-filter-line-active-bg;
							    content: ' ';
							  }
							}
						}
					}

					.number-input-filters
					{
						.row
						{
							padding: 0px;
							margin: 0px;

							.col
							{
								padding: 0px;
								margin: 0px;
							}
						}

						.number-input-row
						{
							padding: 13px 0px;
							border-bottom: 1px solid $filter-group-border;

							&:last-child
							{
								border: none;
							}
						}

						.col.description-col
						{
							@include flex(0 0 55%);
						}
						.col.value-col
						{
							padding: 0px 6px;
							@include flex(0 0 15%);
							text-align: center;
						}

						.description-line
						{
							display: block;
							color: $number-filters-color;
							font-size: 14px;
	  					line-height: 30px;
						}

						.input-quantity
						{
							font-weight: 500;
							line-height: 30px;
							color: $number-filters-quantity-color;
						}

						.col.input-col
						{
							@include flex(0 0 30%);

							.input-number
							{
								color: $number-filters-color;

								.button
								{
									color: $number-filters-color;
									border-color: $number-filters-color;
									background-color: $number-filters-bg;
									&:first-child
									{
										&::after
										{
										  border-right-color: $number-filters-color;
										}
									}
								}
							}
						}
					}
				}


	.feedbackComments{
		padding: 20px;
		font-size: 14px;
		width: 100%;
		border: 1px dashed #ecf0f1;
		color: #34495e;
	}

	.checkout-thanks-header
	{
		background-color: #2c3e50 !important;
		background: #2c3e50 !important;
		border: none !important;
		background-size: 0px !important; // To remove bottom border on header

		.title
		{
			color: $checkout-thanks-header-color;
			font-weight: 300;
		}
	}

	.icon{
		color: #fce12c;
		font-size: 200%;
	}

	.checkout-thanks-content
	{
		padding: 0px;
		margin: 0px;

		& > .scroll
		{
			height: 100%;
		}
	}

	.thanks-row
	{
		height: 100%;
		text-align: center;

		&.row
		{
			padding: 0px;

			.col
			{
				padding: 0px;
			}
		}

		.thanks-title
		{
			font-weight: 300;
			color: $checkout-thanks-title-color;
			margin: 0px 0px 50px;
			padding: 0px 13%;
			padding-top: 10px;
		}

		.illustration-container
		{
			margin: 0px 19%;
			margin-bottom: 70px;

			.pre-img
			{
				background-color: rgba($checkout-thanks-bg, 0);
			}

			.illustration-image
	    {
	      width: 100%;
	    }
		}
	}

	.ok-button-outer
	{
		padding: 0 19%;

		.ok-button
		{
			margin: 0px;
			margin-top: 15px;
			height: $checkout-thanks-button-height;
			text-transform: uppercase;
			line-height: $checkout-thanks-button-height - 5px;
			font-size: 22px;
			border-radius: $checkout-thanks-button-height/2;

			@include button-style(#2ecc71, #2ecc71, #27ae60, #27ae60, $checkout-thanks-button-text);
		}
	}
}
