<ion-view class="login-view auth-view" cache-view="false" style="background: #FFF;">
  <ion-content has-bouncing="false" style="bottom: 80px">
    <div class="row form-row" style="padding-top: 20px">
      <div class="col">
        <form name="login_form" class="form-container" novalidate>

          <p style="color: #2296f3; text-align: center; font-size: 21px; margin: 0; font-family: 'Raleway', sans-serif; padding: 20px 0 15px 0; font-weight: bold;">
            Modify Reservation <b>#{{mydata.id}}</b>
          </p>
          

          <div class="row">
            <div class="col col-50">
              <button class="button button-block" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: #2196f3; color: #FFF !important" ng-click="changeDate()"><strong style="color: #FFF">{{bookingDate}} </strong></button>
            </div>
            <div class="col col-50">
              <span moment-picker="chosenTime" ng-model="mytime.time" format="HH:mm a" show-header="false" class="button button-block" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: #2196f3;"><strong style="color: #FFF"> {{formatMyTime(chosenTime) || 'Set Time Slot' }} </strong></span>
            </div>
          </div>



          <div style="margin-top: 30px; position: relative">
            <span class="reservationInputLabel">MOBILE</span>
            <input type="tel" ng-model="mydata.mobile" class="guestMobileInput reservationInputItem"placeholder="Mobile number">
          </div>

          <div style="margin-top: 25px; position: relative">
            <span class="reservationInputLabel">NAME</span>
            <input type="text" ng-model="mydata.name" class="guestMobileInput reservationInputItem" placeholder="Name of the guest">
          </div>

          <div style="margin-top: 25px; position: relative">
            <span class="reservationInputLabel">PAX</span>
            <input type="tel" ng-model="mydata.count" class="guestMobileInput reservationInputItem" placeholder="Number of guests">
          </div>


        <p ng-show="editReservationError" class="message error">{{editReservationError}}</p>

        <div style="width: 100%; display: block; margin-top: 25px;">  

        </div>

        </form>

      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="newReservationWindow" style="background: none; height: 50px; padding: 0; border: none;">
        <div style="width: 100%; display: block;">  
            <button type="submit" class="button button-energized saveButton" ng-click="editBook(mydata)">
              Save Changes
            </button>

            <button class="button button-default cancelButton" ng-click="main()">
              Back
            </button>
        </div>
  </ion-footer-bar>

</ion-view>