<ion-view class="login-view auth-view" cache-view="false" style="background: #FFF">
  <ion-content has-bouncing="false" style="bottom: 80px">
    <div class="row form-row" style="padding-top: 20px">
      <div class="col">
        <form name="login_form" class="form-container" novalidate style="padding: 0 40px; margin: 0">
          <div class="button-bar padding">
            <a grouped-radio="'walkin'" ng-click="setMode('reservation')" ng-model="walkin.bookingType">Walk In</a>
            <a grouped-radio="'reservation'" ng-click="setMode('walkin')" ng-model="walkin.bookingType">Reserve</a>
          </div>

          <div class="row">
            <div class="col col-50">
              <button class="button button-block" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: #2196f3; color: #FFF !important" ng-click="changeDate()"><strong style="color: #FFF">{{bookingDate}} </strong></button>
            </div>
            <div class="col col-50">
              <span moment-picker="chosenTime" ng-model="mytime.slot" format="HH:mm a" show-header="false" class="button button-block" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: #2196f3;"><strong style="color: #FFF"> {{formatMyTime(chosenTime) || 'Set Time Slot' }} </strong></span>
            </div>
          </div>



          <div style="margin-top: 30px; position: relative">
            <span class="reservationInputLabel">MOBILE</span>
            <input type="tel" ng-model="walkin.mobile" class="guestMobileInput reservationInputItem"placeholder="Mobile number">
          </div>

          <div style="margin-top: 25px; position: relative">
            <span class="reservationInputLabel">NAME</span>
            <input type="text" ng-model="walkin.name" class="guestMobileInput reservationInputItem" placeholder="Name of the guest">
          </div>

          <div style="margin-top: 25px; position: relative">
            <span class="reservationInputLabel">PAX</span>
            <input type="tel" ng-model="walkin.count" class="guestMobileInput reservationInputItem" placeholder="Number of guests">
          </div>

          <div style="margin-top: 25px; position: relative" ng-if="walkin.bookingType == 'reservation'">
            <span class="reservationInputLabel">SOURCE</span>
            <div class="reservationInputItem">
              <button class="button button-default reservationSourceButton" ng-click="selectChannel()">
              {{channel}}
              </button>
            </div>
          </div>

          <div style="margin-top: 25px; position: relative">
            <span class="reservationInputLabel">COMMENTS</span>
            <input type="text" ng-model="walkin.comments" class="guestMobileInput reservationInputItem" style="font-size: 14px !important; font-weight: bold !important; font-style: italic; color: #e91e63;" placeholder="Any Special Requests?">
          </div>



        </form>

      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="newReservationWindow" style="background: none; height: 50px; padding: 0; border: none;">
        <div style="width: 100%; display: block;">  
            <button type="submit" class="button button-balanced saveButton" ng-click="addBook(walkin)">
              Add {{walkin.bookingType}}
            </button>

            <button class="button button-default cancelButton" ng-click="main()">
              Close
            </button>
        </div>
  </ion-footer-bar>

</ion-view>
