<ion-view class="feed-view" cache-view="false">

      <ion-header-bar class="feed-header">
         <div class="buttons" style="position: absolute; top: 5px; left: 5px; bottom: 5px;">

            <button class="button button-clear cart-button" style="margin: 0; color: #FFF; width: 40px; height: 35px;" ng-click="goBack()">
            <i class="icon ion-ios-arrow-back"></i> 
            </button>


            <button class="button button-clear" style="text-align: left; margin-left: 10px; font-weight: 400; color: #FFF; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size: 18px; margin-right: 90px;">
              {{isGeneralView ? 'Current Seating Status' : 'Seat '+guestInfo.user+(guestInfo.count > 1 ? ' and '+(guestInfo.count-1)+' others': '') }}
            </button>  

            <button class="button button-balanced apply-button" ng-if="holdList.length > 0 && !isGeneralView" style="position: absolute; top: 0px; right: 0px; font-size: 16px; font-weight: bold; text-transform: uppercase;" ng-click="allocateSeats(guestInfo, holdList)"><i class="icon ion-checkmark-circled"></i> Seat</button>

         </div>

      </ion-header-bar>




  <ion-content style="margin-top: 10px;">

<center style="padding-bottom: 60px">
									<div ng-repeat="section in seatPlan track by $index">

										<h2 ng-if="section.tables.length > 0" class="legal-title ng-binding" style="margin: 15px 0 5px 0; font-size: 14px; font-weight: 400; color: #444; text-transform: uppercase; letter-spacing: 2px;">{{section.sectionName}}</h2>


										<button class="button" ng-attr-id="{{'seat_'+seat.table}}" ng-repeat="seat in section.tables" ng-class="getMyClass(seat)" ng-click="seatOptions(seat);" style="line-height: initial; width: 110px; max-width: 32%; height: 60px; margin: 3px; padding: 2px">
										
											
											<tag class="seatName" style="color: #FFF">{{seat.table}}</tag>
											
											<!-- Seater Count or Occuppied Guest Name -->
											<tag ng-if="seat.status == 0" class="seatCapacity">{{seat.capacity}} Seater</tag>
											
											<tag ng-if="seat.status == 1" class="seatCapacity">Running</tag>

											<tag ng-if="seat.status == 2" class="seatTime blink_me" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Billed</tag>

											<tag ng-if="seat.status == 5 && seat.assigned == 'Hold Order'" class="seatCapacity"><i class="fa fa-cloud-download"></i></tag>
											<tag ng-if="seat.status == 5 && seat.assigned != 'Hold Order'" class="seatCapacity">For {{seat.guestName != "" ? seat.guestName : 'Guests'}}</tag>
											
											
											
											<!-- Free or Occuppied Time -->
											<tag ng-if="seat.status == 0" class="seatStatus" ng-attr-id="{{'seatTag_'+seat.table}}">Free</tag>														
											<tag ng-if="seat.status == 1" class="seatTime" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{getTimeAgo(seat.lastUpdate)}}</tag>

											<tag ng-if="seat.status == 5" class="seatTime" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{getReservationTag(seat)}}</tag>
											
											
											
										</button>
									</div>	
									
									
									
</center>								
									
									


  </ion-content>
</ion-view>
